.container{
    margin-bottom: 50px;
}
.nav-banner{
    background-color: #F0FFF0;
}
.logo{
    position: absolute;
    width: 118.07px;
    height: 33px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 24.8571px;
    line-height: 29px;
    color: #56548C;
}
.sing-in{
    background-color: #21B573;
    border-radius: 33px;
}
.sing-in a{
    color: white;
}
.nav-item{
    padding: 10px;
}
.banner-texts{
    padding: 15px;
}
.banner-texts small{
    color: tomato;
}
.banner-texts p{
    margin: 33px 0px;
}
#bnr-header{
    margin: 15px 0px;
}
.banner-texts span{
    color: #21B573;
}
.benner-img{
    padding: 0px 50px;
}
.btn{
    background-color: #21B573;
    height: 33px;
    border-radius: 33px;
    color: white;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.categories{
    padding: 75px;
}
.catagory1, .catagory2, .catagory3, .catagory4{
    width: 230px;
    height: 200px;
    text-align: center;
    padding: 10px;
}
.cat-img{
    width: 66px;
    height: 85px;
}
#cat-box2{
    box-shadow: 5px 5px 5px lightgray;
}
.courses h3{
    text-align: center;
    margin-bottom: 100px;
}
.card{
    border-radius: 10px;
    box-shadow: 5px 5px 25px lightgray;
}
.small-card{
    margin-bottom: 10px;
}
.icon-img{
    height: 20px;
}

.testi h3{
    text-align: center;
    margin-bottom: 100px;
}
.testi{
    width: 550px;
    text-align: center;
}
.testi-img{
    height: 100px;
    margin-right: 15px;
}
.testi-text{
    height: 100px;
    text-align: justify;
}
.footer{
    border-top: 1px solid #ddd;
}
.last{
    margin-bottom: 0px;
}